Verification
-------------

See correctness.

Also, PIT, model checkinig and t-proving.
